@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 text-center">
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>Öz hesabını tap!</h2>
                        <p>Şifrəni yenilə</p>
                    </div>
                    <form method="post" class="user-form">
                        <div class="form-group">
                            <input asp-for="Input.Email" placeholder="Email daxil et" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>
                        <div class="form-button">
                            <button type="submit">Emaili Yoxla</button>
                        </div>
                    </form>
                </div>
                <div class="user-form-remind">
                    <p>Geri Qayıt<a href="/identity/account/login">Daxil olun</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/assets/javascript/jquery.validate.min.js"></script>
}