@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<section class="user-form-part">
    <div class="container text-center">
        <h2>Emailə təsdiq mesajı göndərildi</h2>
    </div>
</section>
