@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<section style="text-align:center;border-bottom:1px solid #007a58"class="user-form-part">
    <h2 >Hesabınızı təsdiq etmək üçün e-poçtunuzu yoxlayın.</h2>
</section>
