@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<section class="user-form-part">
    <div class="container text-center">
        <h2>
            Şifrəniz sıfırlandı.Zəhmət olmasa daxil olmaq üçün <a style="color: #ff7004" href="/Identity/account/login">bura daxil olun.</a>
        </h2>
    </div>
</section>