@page
@inject UserManager<Entities.BadamUser> UserManager
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 text-center">
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>Şifrənin bərpası!</h2>
                        <p>Mövcud Parolunuzun Güclü olduğundan Əmin olun.</p>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="form-group">
                                <input placeholder="Email daxil et" asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input placeholder="Yeni şifrə" asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input placeholder="Təkrar şifrə" asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button style="margin-top:15px" type="submit" class="btn btn-success">Şifrəni dəyiş</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/javascript/jquery.validate.min.js"></script>
}
